<div [ngClass]="getColorClass()">
  <h2><b>Mis materias:</b></h2>
  <div class="card-container">
    @for (materiaAsignada of this.materias; track materiaAsignada.id_dicta) {
    <div class="materia-card">
      <img mat-card-image
        src="https://2.bp.blogspot.com/-DOXEGnjTVHs/V3MUqvgn_dI/AAAAAAAAADE/LEZCAP5mB-UE8S3FOs91mCeVu31KewVAQCLcB/s1600/lectura1-1030x953.jpg">
      <b>{{materiaAsignada.materia?.nombre}}</b>
      <div class="Area"><b>Area: Ciencias</b></div>
      <div class="Paralelo"><b>Paralelo: {{materiaAsignada.materia?.paralelo?.paralelo}}</b></div>
      <div class="enlace-detalles">
        <button [routerLink]="['/home/agregar-nuevo-contenido', materiaAsignada.id_dicta]"><b>Más
            detalles</b></button>
      </div>
    </div>
    }
  </div>
</div>