<div [ngClass]="getColorClass()">
      <div class="profesores-container">
        <h2>Lista de estudiantes asignados a la materia</h2>
    
            <button class="add-button" mat-button color="primary"  (click)="asignarEstudiante()">+</button>
          <table>
            <thead>
              <tr>
                <th>Nombres</th>
                <th>Apellido</th>
                <th>Configuraciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let estudiante of estudiantessAsignadosAMateria">
                <td>{{ estudiante.nombre }}</td>
                <td>{{ estudiante.apellido }}</td>
                <td>
                  <div class="button-container">
       
    
                    <button mat-button (click)="desAsignar(estudiante)" >
                      <img src="https://cdn-icons-png.flaticon.com/512/7347/7347206.png" alt="Eliminar" width="30"
                        height="30" />
                        
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>