<div [ngClass]="getColorClass()">
  <div class="form-modal">
    <h2 mat-dialog-title>Asignar Estudiantes</h2>

    <mat-dialog-content>
      <form>


        <mat-form-field appearance="fill">
          <mat-label>Fecha de Inscripción</mat-label>
          <mat-datepicker #picker></mat-datepicker>
          <input matInput [matDatepicker]="picker" [(ngModel)]="fechaInscripcion" name="fechaInscripcion" required />
          <mat-datepicker-toggle matSuffix [for]="picker" disabled></mat-datepicker-toggle>
        </mat-form-field>
        <mat-list>
          <mat-list-item *ngFor="let estudiante of estudiantes">
            <mat-checkbox [(ngModel)]="estudiante.seleccionado" (change)="onCheckboxChange(estudiante)"
              [ngModelOptions]="{standalone: true}">
              {{ estudiante.nombre }} {{ estudiante.apellido }}
            </mat-checkbox>
          </mat-list-item>
        </mat-list>



      </form>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-button (click)="onAdd()">Asignar</button>
      <button mat-button (click)="onCancel()">Cancelar</button>
    </mat-dialog-actions>

  </div>
</div>