<div [ngClass]="getColorClass()">
  <div class="form-modal">
    <h2 mat-dialog-title>Actualizar Nota</h2>
    <div mat-dialog-content>
      <form [formGroup]="form">
  
        <div formGroupName="ser">
          <mat-form-field>
            <mat-label>Ser</mat-label>
            <input matInput type="number" formControlName="nota">
          </mat-form-field>
        </div>
  
        <div formGroupName="saber">
          <mat-form-field>
            <mat-label>Saber</mat-label>
            <input matInput type="number" formControlName="nota">
          </mat-form-field>
        </div>
  
        <div formGroupName="hacer">
          <mat-form-field>
            <mat-label>Hacer</mat-label>
            <input matInput type="number" formControlName="nota">
          </mat-form-field>
        </div>
  
        <div formGroupName="decidir">
          <mat-form-field>
            <mat-label>Decidir</mat-label>
            <input matInput type="number" formControlName="nota">
          </mat-form-field>
        </div>
  
      </form>
    </div>
    <div class="dialog-buttons">
      <button mat-button (click)="cerrar()">Cancelar</button>
      <button mat-button (click)="actualizarNota()">Guardar</button>
  
    </div>
  </div>
</div>