<div [ngClass]="getColorClass()">
  <div class="form-modal">
    <h2 mat-dialog-title>Asignar Docente</h2>

    <mat-dialog-content>


      <mat-form-field appearance="fill">
        <mat-label>Fecha</mat-label>
        <mat-datepicker #picker></mat-datepicker>
        <input matInput [(ngModel)]="fecha" [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Profesor</mat-label>
        <select matNativeControl [(ngModel)]="profesor">
          <option *ngFor="let profesor of profesores" [ngValue]="profesor">
            {{ profesor.nombre }}
          </option>
        </select>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-button (click)="onAdd()">Asignar</button>
      <button mat-button (click)="onCancel()">Cancelar</button>
    </mat-dialog-actions>

  </div>
</div>