<div [ngClass]="getColorClass()">
  <div class="titulo">
    <h1><b>{{materiaAsiganda?.materia?.nombre}}</b></h1>
    <div class="area-materias"><b>Área: Ciencias</b></div>
    <div class="profesor-nombre"><b>Profesor: {{materiaAsiganda?.profesor?.nombre}}</b></div>
    <div class="Paralelo"><b>Paralelo: {{materiaAsiganda?.materia?.paralelo?.paralelo}}</b></div>
  </div>
  <div class="titulo-contenido">
    <h2><b>Contenidos</b></h2>
  </div>
  <div class="contenido-materia-detalle">
    <div *ngFor="let card of this. unidades" class="card-wrapper">
      <img [src]="card.imagen_url" alt="Module Image"/>
      <a  [routerLink]="['/home/ver-materiales-estudiante', card.id_unidad]"><strong><b>{{ card.nombre }}</b></strong></a>
    </div>
  </div>
</div>
